@use '../../Utility/Helper' as * ;
@use '../../Utility/Variable' as * ;


.navMain{
   @include flexCol(center , space-between);
   grid-row-start: 1;
   grid-row-end: 3;
   background-color: whitesmoke;
   
   & .icons{
    font-size: 46px;
   }

   & .navHead{
    @include flex(center , flex-start);
    padding: 10px;
    width: 75%;
    font-size: 14px;
    font-family:'Comfortaa', cursive;;
    color: var(--clr_blueDark);
    gap: 10px;
   }
   & .airQuality{
    padding: 10px 20px;
    @include flex(center,center);
    flex-wrap: wrap;
    gap: 0.5rem;
    & .airContent{
       background-color: var(--clr_blueDark);
       color: var(--clr_blueShadow);
       font-weight: 600;
       width: 80px;
       text-align: center;
       border-radius: 10px;
       & .name{
          margin-bottom: 3px;
       }
       & .value{
         color: white;
         font-size: 18px;
         margin-top: 3px;
       }
    }
   }
   & .link{
      @include flex(center , center);
      padding: 0 20px;
      width: 100%;
      box-sizing: border-box;
      padding: 5px 20px;
      flex-wrap: wrap;
   
      & p{
         font-size:12px;
         opacity: .6;
         margin: 0;
         font-weight: 600;
      }
      & .icons{
         font-size: 18px;
         color: black;
         margin: 0 8px;
         opacity: 0.7;
      }
   }
   }