@use '../../Utility/Helper' as * ;
@use '../../Utility/Variable' as * ;


.mainParent{
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: var(--poppin_font);
    overflow-y: scroll;
    p{
    margin: 10px 20px;
    font-weight: 600;
    }
    & .overView{
        padding: 10px 20px;
        @include flex(center , center);
        flex-wrap: wrap;
        gap: 10px;
    }
    & .chart{
      height: 200px;
      padding: 0 20px;
    }
}